{% extends "layouts/base.twig" %}
{% set pageName = 'Home' %}

{% block content %}

  <h3 class="c-heading c-featured__heading c-featured__heading__section">Never Clean Your Gutters <strong>Again.</strong></h3>

  <div class="c-featured c-featured--fullwidth c-featured--radial c-featured--bg-img c-featured--white" style="background-image: url('{{ site.theme.uri }}/dist/assets/images/temp/img-perfect-gutter-defense.png');">
    <div class="c-featured__content">
      <h3 class="c-featured__heading">The <strong>Perfect</strong> Gutter Defense</h3>
      <p>
        Keeps leaves, pine needles, and roof<br />sand grit out of your gutters.
      </p>
      <a href="#" class="c-link--red is-chevron">Our Products</a>
    </div>
  </div>

  <div class="c-featured c-featured--fullwidth c-featured--radial c-featured--bg-img c-featured--white" style="background-image: url('{{ site.theme.uri }}/dist/assets/images/temp/img-perfect-gutter-defense2.png');">
    <div class="c-featured__content">
      <h3 class="c-featured__heading">The <strong>Perfect</strong> Gutter Defense</h3>
      <p>
        Stainless steel micro-mesh<br />won't warp or rust.
      </p>
      <a href="#" class="c-link--red is-chevron">Our Products</a>
    </div>
  </div>

  <div class="o-layout o-layout--2 o-layout--guttered">
    <div class="o-layout__item c-featured c-featured--box" onclick="window.location.href = '#';">
      <img src="{{ site.theme.uri }}/dist/assets/images/static-rail-product.png" alt="" class="c-featured__image c-featured__image--right" />
      <div class="c-featured__content">
        <h3 class="c-featured__heading"><strong>DIY</strong> Gutter Guards</h3>
        <p>
          Easy install. Protection that lasts a lifetime.
        </p>
        <a href="#" class="c-link--red is-chevron">See Products</a>
      </div>
    </div>
    <div class="o-layout__item c-featured c-featured--box" onclick="window.location.href = '#';">
      <img src="{{ site.theme.uri }}/dist/assets/images/static-pro-installes.png" alt="" class="c-featured__image c-featured__image--right" />
      <div class="c-featured__content">
        <h3 class="c-featured__heading"><strong>Pro-installed</strong><br />Gutter Guards</h3>
        <p>
          Professionally installed. For more demanding environments.
        </p>
        <a href="#" class="c-link--red is-chevron">See Products</a>
      </div>
    </div>
  </div>

  <div class="o-layout c-about">
    <div class="o-layout__item c-about__col">
      <h3 class="c-about__heading c-heading c-heading--border">Do It Right.<br /><strong>Do It Once.</strong></h3>
      <p>
        We believe in standing behind our claims – saying we'll do something and delivering on it. That's our promise to you.
      </p>
    </div>
    <div class="o-layout__item c-about__col ">
      <ul class="o-list-bare c-image-text c-image-text--rounded">
        <li class="c-image-text__item">
          <img src="{{ site.theme.uri }}/dist/assets/images/temp/temp-get-it-right.png" alt=""  />
          <p>
            <strong>Get it right the first time</strong> with our simple install and helpful guides.
          </p>
        </li>
        <li class="c-image-text__item">
          <img src="{{ site.theme.uri }}/dist/assets/images/temp/temp-support.png" alt=""  />
          <p>
            Get help when you need it by calling our <strong>US-based support team</strong>.
          </p>
        </li>
        <li class="c-image-text__item">
          <img src="{{ site.theme.uri }}/dist/assets/images/temp/temp-get-it-done.png" alt=""  />
          <p>
            <strong>Get it done for good</strong>, knowing our leading materials will stand the test of time.
          </p>
        </li>
      </ul>
    </div>
    <img src="{{ site.theme.uri }}/dist/assets/images/static-about.png" alt="" class="c-about__image" />
  </div>

  <div class="c-list-images c-list-images--horizontal">
    <h4 class="c-heading c-list-images__heading">Awards & Recognition</h4>
    <ul class="o-list-bare o-layout o-layout--guttered">
      <li class="o-layout__item">
        <img src="{{ site.theme.uri }}/dist/assets/images/temp/logo-best-in.png" alt="" class="c-list-images__image" />
      </li>
      <li class="o-layout__item">
        <img src="{{ site.theme.uri }}/dist/assets/images/temp/logo-flower.png" alt="" class="c-list-images__image" />
      </li>
      <li class="o-layout__item">
        <img src="{{ site.theme.uri }}/dist/assets/images/temp/logo-flower.png" alt="" class="c-list-images__image" />
      </li>
      <li class="o-layout__item">
        <img src="{{ site.theme.uri }}/dist/assets/images/temp/logo-5stars.png" alt="" class="c-list-images__image" />
      </li>
    </ul>
  </div>

  <div class="c-list-images c-list-images--horizontal">
    <h4 class="c-heading c-list-images__heading">Top Rated & Most Popular</h4>
    <ul class="o-list-bare o-layout o-layout--guttered">
      <li class="o-layout__item">
        <img src="{{ site.theme.uri }}/dist/assets/images/temp/logo-homedepot.png" alt="" class="c-list-images__image" />
      </li>
      <li class="o-layout__item">
        <img src="{{ site.theme.uri }}/dist/assets/images/temp/logo-lowes.png" alt="" class="c-list-images__image" />
      </li>
      <li class="o-layout__item">
        <img src="{{ site.theme.uri }}/dist/assets/images/temp/logo-sams.png" alt="" class="c-list-images__image" />
      </li>
      <li class="o-layout__item">
        <img src="{{ site.theme.uri }}/dist/assets/images/temp/logo-costco.png" alt="" class="c-list-images__image" />
      </li>
    </ul>
  </div>


  {% block testimonials %}
    {% include 'components/testimonials.twig' %}
  {% endblock %}

  <div class="c-slider c-slider--fullwidth">
    <div class="glide__track" data-glide-el="track">
      <div class="glide__slides">
        {% block blogpost %}
          {% for i in range(1, 4) %}
            <div class="glide__slide">
              {% include 'components/blogpost.twig' %}
            </div>
          {% endfor %}
        {% endblock %}
      </div>
    </div>

  </div>

  <div class="o-layout o-layout--2 o-layout--guttered">
    <div class="o-layout__item c-featured c-featured--box c-featured--bg-img">
      <img src="{{ site.theme.uri }}/dist/assets/images/temp/temp-contractor.jpg" alt="" class="c-featured__image c-featured__image--fullwidth" />
      <div class="c-featured__content">
        <h3 class="c-featured__heading"><strong>Contractor</strong> Program</h3>
        <p class="small">
          We believe in doing things right the first time, and partnering with contractors who feel the same way.
        </p>
        <a href="#" class="c-link--red is-chevron">Become a Partner</a>
      </div>
    </div>
    <div class="o-layout__item c-featured c-featured--box">
      <img src="{{ site.theme.uri }}/dist/assets/images/temp/temp-dealer.jpg" alt=""  class="c-featured__image c-featured__image--fullwidth" />
      <div class="c-featured__content c-featured__content--small">
        <h3 class="c-featured__heading"><strong>Dealer</strong> Program</h3>
        <p class="small">
          We offer partnerships for those lookingto offer our pro-install products in each geographic region.
        </p>
        <a href="#" class="c-link--red is-chevron">Learn More</a>
      </div>
    </div>
  </div>
{% endblock %}
