{% extends "layouts/base.twig" %}
{% set pageName = 'Home' %}

{% block content %}

  <h3 class="c-heading c-featured__heading c-featured__heading__section">Never Clean Your Gutters <strong>Again.</strong></h3>

  <div class="c-featured c-featured--fullwidth c-featured--radial c-featured--white">
    <div data-aos="fade-right" data-aos-offset="400" class="c-featured--bg-img" style="position:absolute;top:0;left:0;height:100%;width:100%;background-image: url('{{ site.theme.uri }}/dist/assets/images/temp/img-perfect-gutter-defense.png');"></div>
    <div class="c-featured__content" data-aos="fade-left">
      <p>
        Keeps leaves, pine needles, and roof<br />sand grit out of your gutters.
      </p>
      <a href="/products/" class="c-link--red is-chevron">Our Products</a>
    </div>
  </div>

  <div class="c-featured c-featured--fullwidth c-featured--radial c-featured--white">
    <div data-aos="fade-right" data-aos-offset="400" class=" c-featured--bg-img" style="position:absolute;top:0;left:0;height:100%;width:100%;background-image: url('{{ site.theme.uri }}/dist/assets/images/temp/img-perfect-gutter-defense2.png');"></div>
    <div class="c-featured__content" data-aos="fade-left">
      <p>
        Stainless steel micro-mesh<br />won't warp or rust.
      </p>
      <a href="/products/" class="c-link--red is-chevron">Our Products</a>
    </div>
  </div>

  <div class="o-layout o-layout--2 o-layout--guttered">
    <div  data-aos="fade-right" class="o-layout__item c-featured c-featured--box" onclick="window.location.href = '#';">
      <img src="{{ site.theme.uri }}/dist/assets/images/static-rail-product.png" alt="" class="c-featured__image c-featured__image--right" />
      <div class="c-featured__content">
        <h3 class="c-featured__heading"><strong>DIY</strong> Gutter Guards</h3>
        <p>
          Easy install. Protection that lasts a lifetime.
        </p>
        <a href="/products/" class="c-link--red is-chevron">See Products</a>
      </div>
    </div>
    <div data-aos="fade-left" class="o-layout__item c-featured c-featured--box" onclick="window.location.href = '#';">
      <img src="{{ site.theme.uri }}/dist/assets/images/static-pro-installes.png" alt="" class="c-featured__image c-featured__image--right" />
      <div class="c-featured__content">
        <h3 class="c-featured__heading"><strong>Pro-installed</strong><br />Gutter Guards</h3>
        <p>
          Professionally installed. For more demanding environments.
        </p>
        <a href="/products/" class="c-link--red is-chevron">See Products</a>
      </div>
    </div>
  </div>

  <div class="o-layout o-layout--2 c-about o-layout--guttered wide-gutter">
    <div class="o-layout__item">
      <h3 class="c-about__heading c-heading c-heading--border">The Nation's<br /><strong>Most Trusted.</strong></h3>
      <p>
        We started creating gutter guards over 15 years ago because no other guard in the industry was performing as promised. We knew there had to be a better way. So we invented new designs, utilized the best materials, and focused our passion on doing what is best for our customers. We continue to earn our title of “The Nation's Most Trusted Gutter Guards” by committing to:
      </p>
    </div>
    <div class="o-layout__item">
      <ul class="o-list-bare c-image-text c-image-text--rounded">
        <li class="c-image-text__item">
          <img src="{{ site.theme.uri }}/dist/assets/images/temp/temp-get-it-right.png" alt=""  />
          <p>
            <strong>Do it Right. Do it Once.</strong><br/> We only use high-quality materials that will stand the test of time. We're not fans of re-work or false promises. We know you're not either. We stand behind our product with the best warranty in the business.
          </p>
        </li>
        <li class="c-image-text__item">
          <img src="{{ site.theme.uri }}/dist/assets/images/temp/temp-support.png" alt=""  />
          <p>
            <strong>Guard What Matters Most.</strong><br/>What matters to us is your satisfaction. No more gutter cleaning. Spend your time where it matters. And if you need help installing our guards, just call. We're here.
          </p>
        </li>
        <li class="c-image-text__item">
          <img src="{{ site.theme.uri }}/dist/assets/images/temp/temp-get-it-done.png" alt=""  />
          <p>
            <strong>Protect Every Gutter, on Every Home.</strong><br/>We're here to change the industry, and won't rest until every gutter on every home in North American is protected. We'd love to include you on our journey.
          </p>
        </li>
      </ul>
    </div>
  </div>

  <div class="c-list-images c-list-images--horizontal">
    <h4 class="c-heading c-list-images__heading">Awards & Recognition</h4>
    <ul class="o-list-bare o-layout o-layout--guttered">
      <li class="o-layout__item">
        <img src="{{ site.theme.uri }}/dist/assets/images/temp/logo-best-in.png" alt="" class="c-list-images__image" />
      </li>
      <li class="o-layout__item">
        <img src="{{ site.theme.uri }}/dist/assets/images/temp/logo-flower.png" alt="" class="c-list-images__image" />
      </li>
      <li class="o-layout__item">
        <img src="{{ site.theme.uri }}/dist/assets/images/temp/logo-sustainable-business.png" alt="" class="c-list-images__image" />
      </li>
      <li class="o-layout__item">
        <img src="{{ site.theme.uri }}/dist/assets/images/temp/logo-5stars.png" alt="" class="c-list-images__image" />
      </li>
    </ul>
  </div>

  <div class="c-list-images c-list-images--horizontal">
    <h4 class="c-heading c-list-images__heading">Top Rated & Most Popular</h4>
    <ul class="o-list-bare o-layout o-layout--guttered">
      <li class="o-layout__item">
        <img src="{{ site.theme.uri }}/dist/assets/images/temp/logo-homedepot.png" alt="" class="c-list-images__image" />
      </li>
      <li class="o-layout__item">
        <img src="{{ site.theme.uri }}/dist/assets/images/temp/logo-lowes.png" alt="" class="c-list-images__image" />
      </li>
      <li class="o-layout__item">
        <img src="{{ site.theme.uri }}/dist/assets/images/temp/logo-sams.png" alt="" class="c-list-images__image" />
      </li>
      <li class="o-layout__item">
        <img src="{{ site.theme.uri }}/dist/assets/images/temp/logo-costco.png" alt="" class="c-list-images__image" />
      </li>
    </ul>
  </div>

  <div id="testimonials">
	  {% block testimonials %}
		  {% include 'components/testimonials.twig' %}
	  {% endblock %}
  </div>

  <div class="c-slider c-slider--fullwidth">
    <div class="glide__track" data-glide-el="track">
      <div class="glide__slides">
        {% block blogpost %}
          {% for p in posts %}
            <div class="glide__slide">
              {% include 'components/blogpost.twig' %}
            </div>
          {% endfor %}
        {% endblock %}
      </div>
    </div>

  </div>

  <div class="o-layout o-layout--2 o-layout--guttered" style="color:white;">
    <div class="o-layout__item c-featured c-featured--box c-featured--bg-img">
      <img src="{{ site.theme.uri }}/dist/assets/images/temp/temp-contractor.jpg" alt="" class="c-featured__image c-featured__image--fullwidth" />
      <div class="c-featured__content">
        <h3 class="c-featured__heading"><strong>Contractor</strong> Program</h3>
        <p class="small">
          We believe in doing things right the first time, and partnering with contractors who feel the same way.
        </p>
        <a href="https://contractor.leafblaster.com" class="c-link--red is-chevron">Join Contractor Program</a>
      </div>
    </div>
    <div class="o-layout__item c-featured c-featured--box">
      <img src="{{ site.theme.uri }}/dist/assets/images/temp/temp-dealer.jpg" alt=""  class="c-featured__image c-featured__image--fullwidth" />
      <div class="c-featured__content c-featured__content--small">
        <h3 class="c-featured__heading"><strong>Dealer</strong> Program</h3>
        <p class="small">
          We offer partnerships for those looking to offer our pro-install products in specific geographic regions.
        </p>
        <a href="/contact/?action=become-a-dealer" class="c-link--red is-chevron">Learn More</a>
      </div>
    </div>
  </div>
{% endblock %}
