<footer class="c-footer">
	<div class="c-footer__top o-wrapper">
		<div class="c-footer__border">
			{% if pageName == 'Products' %}

				<h3 class="c-footer__heading">Want to learn more about gutter guards?</h3>
				<p>
					We've compiled everything you need to know.
				</p>
				<a href="/blog/" class="c-more c-link--red is-chevron">About Gutter Guards</a>
			{% else %}
				<h3 class="c-footer__heading">Find the Right Gutter Guard for Your Home.</h3>
				<p>
					Explore our national brands to find the one that's best for you.
				</p>
				<a href="/products/" class="c-more c-link--red is-chevron">Explore Our Products</a>
			{% endif %}
		</div>
	</div>

	<div class="c-footer__bottom">
		<div class="o-wrapper o-layout c-footer__cols">
			<div class="c-footer__col o-layout__item">
				<a href="/" rel="home" class="c-sitename gutterglove"><span class="u-hidden-visually">Gutterglove</span></a>
				<div class="c-social-icons">
					<a href="https://www.facebook.com/gutterglovecorporate/" class="c-social-icons__icon c-social-icons__icon--fb"><span class="u-hidden-visually">Facebook</span></a>
					<a href="https://twitter.com/SacGutterglove" class="c-social-icons__icon c-social-icons__icon--twitter"><span class="u-hidden-visually">Twitter</span></a>
					<a href="https://www.youtube.com/watch?v=wnlmeOT2jo4" class="c-social-icons__icon c-social-icons__icon--yt"><span class="u-hidden-visually">YouTube</span></a>
				</div>
				<div class="c-footer__text">
					<p>
						Gutterglove gutter guard products are protected by many US and Canadian patents including #7,310,912; #7,975,435; #2,747,704; #8,479,454; #9,021,747.
					</p>
				</div>
			</div>
			<div class="c-footer__col o-layout__item">
				<h3 class="c-footer__heading">Contact</h3>
				<a href="tel:+19166245000" class="phone c-link--red">916.624.5000</a>
				<a href="mailto:info@Gutterglove.com" class="email c-link--red">info@Gutterglove.com</a>
				<address>
					8860 Industrial Blvd., Suite 140
					Roseville, CA. 95678
				</address>
			</div>
			<div class="c-footer__col o-layout__item">
				<h3 class="c-footer__heading">Company</h3>
				<nav class="c-footer__nav">
					<ul class="menu">
						<li class="menu-item"><a href="/blog">About Gutter Guards</a></li>
						<li class="menu-item"><a href="https://contractor.leafblaster.com/">Contractor Program</a></li>
						<li class="menu-item"><a href="#" data-micromodal-trigger="support-modal">Support</a></li>
					</ul>
				</nav>
			</div>
			<div class="c-footer__col o-layout__item">
				<h3 class="c-footer__heading">Products</h3>
				<nav class="c-footer__nav">
					<ul class="menu">
						<li class="menu-item"><a href="/products/#pro-products">Pro-grade Products</a></li>
						<li class="menu-item"><a href="/products/#diy-products">DIY Products</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
	<div class="c-footer__copyright">
		<p>Copyright &copy; {{ "now"|date('Y') }} All Rights Reserved</p>
	</div>
	<div class="modal micromodal-slide" id="support-modal" aria-hidden="true">
		<div class="modal__overlay" tabindex="-1" data-micromodal-close>
			<div class="modal__container" role="dialog" aria-modal="true" style="background: #efefef;" aria-labelledby="modal-1-title">
				<header class="modal__header">
					<h2 class="modal__title" id="modal-1-title">
						Which Product Do You Need Support For?
					</h2>
					<button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
				</header>
				<main class="modal__content" id="modal-1-content">
					<div class="o-wrapper" style="padding: 1.36rem 0;">
						<div class="o-layout o-layout--4 o-layout--guttered c-slider__content c-stores">
							<div class="c-slider_col o-layout__item c-stores__item">
							  <a href="https://www.atlasgutterguard.com/how-to-install/" class="c-stores__logo-wrap">
								<img class="c-stores__logo" src="{{ site.theme.uri }}/dist/assets/images/temp/product-atlas.png" alt="Gutter Guard - Atlas" />
							  </a>
							</div>
							<div class="c-slider_col o-layout__item c-stores__item">
							  <a href="https://www.easyongutterguard.com/howtoinstall" class="c-stores__logo-wrap">
								<img class="c-stores__logo" src="{{ site.theme.uri }}/dist/assets/images/temp/product-easy-on.gif" alt="Gutter Guard - Easy On" />
							  </a>
							</div>
							<div class="c-slider_col o-layout__item c-stores__item">
							  <a href="https://www.gutterguard.com/howtoinstall.php" class="c-stores__logo-wrap">
								<img class="c-stores__logo" src="{{ site.theme.uri }}/dist/assets/images/temp/product-gutter-guard.png" alt="Gutter Guard" />
							  </a>
							</div>
							<div class="c-slider_col o-layout__item c-stores__item">
							  <a href="http://raptorgutterguard.com/how-to-install/" class="c-stores__logo-wrap">
								<img class="c-stores__logo" src="{{ site.theme.uri }}/dist/assets/images/temp/product-raptor.png" alt="Gutter Guard - Raptor" />
							  </a>
							</div>
						</div>
					</div>
					<div class="o-wrapper" style="padding: 1.36rem 0;">
						<div class="o-layout o-layout--4 o-layout--guttered c-slider__content c-stores">
							<div class="c-slider_col o-layout__item c-stores__item">
							  <a href="https://www.stainlesssteelgutterguards.com/howtoinstall.php" class="c-stores__logo-wrap">
								<img class="c-stores__logo" src="{{ site.theme.uri }}/dist/assets/images/temp/product-stainless-steel.png" alt="Gutter Guard - Stainless Steel" />
							  </a>
							</div>
							<div class="c-slider_col o-layout__item c-stores__item">
							  <a href="http://unitedgutterguard.com/how-to-install/" class="c-stores__logo-wrap">
								<img class="c-stores__logo" src="{{ site.theme.uri }}/dist/assets/images/temp/product-united.png" alt="Gutter Guard - United" />
							  </a>
							</div>
							<div class="c-slider_col o-layout__item c-stores__item">
							  <a href="https://www.vikinggutterguard.com/how-to-install/" class="c-stores__logo-wrap">
								<img class="c-stores__logo" src="{{ site.theme.uri }}/dist/assets/images/temp/product-viking.png" alt="Gutter Guard - Viking" />
							  </a>
							</div>
							<div class="c-slider_col o-layout__item c-stores__item"></div>
						</div>
					</div>
				</main>
			</div>
		</div>
	</div>

</footer>
