<div class="c-hero c-hero--page {% if pageName == 'Blog' %}c-hero--content-overlap{% endif %}">
  <div class="c-hero__wrap">
    {% if pageName == 'Blog - Single' %}
        {% if post.thumbnail %}
            <img class="c-hero__image" src="{{ post.thumbnail.src }}" alt="" />
        {% else %}
            <img class="c-hero__image" src="{{ site.theme.uri }}/dist/assets/images/temp/home-about.jpg" alt="" />
        {% endif %}
    {% else %}
        {% if post.thumbnail %}
            <img class="c-hero__image" src="{{ post.thumbnail.src }}" alt="" />
        {% else %}
            <img class="c-hero__image" src="{{ site.theme.uri }}/dist/assets/images/temp/hero-blog.jpg" alt="" />
        {% endif %}
    {% endif %}
    <div class="c-hero__content">
      {% if pageName == 'Blog - Single' %}
        <div class="c-hero__caption  c-hero__caption--border">
          <h1 class="c-hero__heading c-hero__heading--border-bottom">{{  post.title }}</h1>
        </div>
      {% elseif pageName == 'Blog' %}
        <div class="c-hero__caption c-hero__caption--border">
          <h1 class="c-hero__heading c-hero__heading--is-sub c-hero__heading--border-bottom">ABOUT GUTTER GUARDS</h1>
          <p class="c-hero__subhead">
            Everything you need to know to protect your home.
          </p>
        </div>
      {% else %}
        <div class="c-hero__caption  c-hero__caption--border">
          <h1 class="c-hero__heading c-hero__heading--border-bottom">{{  post.title }}</h1>
        </div>
      {% endif %}
    </div>
  </div>
</div>